@model List<NuCloudWeb.Models.Message>

@{
    ViewData["Title"] = "Inbox";
}

<style>
    div {
        padding: 0px;
    }
</style>
<div class="text-center">
    <div class="login-box">
        <table class="border:1px solid black; center" style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <tr>
            <thead>
                <tr>
                    <th scope="col">Inbox</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <a class="nav-link text-dark" asp-area="" asp-controller="CCG" asp-action="Filter" asp-route-id="all">
                        All
                    </a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="CCG" asp-action="Filter" asp-route-id="petition">
                        Petition
                    </a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="CCG" asp-action="Filter" asp-route-id="congratulate">
                        Congratulation
                    </a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="CCG" asp-action="Filter" asp-route-id="offer">
                        Offering
                    </a>
                </tr>
                <tr>
                    <a class="nav-link text-dark" asp-area="" asp-controller="CCG" asp-action="Report">
                        Report
                    </a>
                </tr>
                <tr>
                    <a class="nav-link text-dark" asp-area="" asp-controller="CCG" asp-action="Report">
                        Clear
                    </a>
                </tr>
                <tr>
                    <th>
                        @foreach (Message m in Model) {
                            <a class="nav-link text-dark" asp-area="" asp-controller="CCG" asp-action="Mail" asp-route-id="@m.Id">
                                @String.Format("{0} {1}", m.Sender, m.Subject)
                            </a>}
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>




