@model NuCloudWeb.Models.Member

@{
    ViewData["Title"] = "Member";
}

<div class="text-center">
    <h6>@String.Format("{0} {1}", Model.Name, Model.LastName)</h6>
    <p>@Model.Ced</p>
    <p>@Model.Phone</p>
    <p>@Model.Email</p>
</div>