@model NuCloudWeb.Models.Member

@{
    ViewData["Title"] = "LoginMember";
}

<style>
    div {
        padding: 0px;
    }
</style>
<div class="login-box">
    <div class="text-center user-box">
        @using (Html.BeginForm("LoginMember", "Login", FormMethod.Post))
        {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Login Data</th>
            </tr>
            <tr>
                <td>Identification</td>
                <td>@Html.TextBoxFor(m => m.Ced)</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td><br /><br /><a href = "/"><input type="submit" value="Sign in" /></a></td>
            </tr>
        </table>}
    </div>
</div>
