@model NuCloudWeb.Controllers.Chanchito

@{
    ViewData["Title"] = "AssignLeader";
}


<div class="text-center">
    @using (Html.BeginForm("AssignLeader", "Zone", FormMethod.Post)) {
        @Html.DropDownListFor(m => m.Ced, Model.Members.Select(x => new SelectListItem { Text = String.Format("{0} {1}", x.Name, x.LastName), Value = x.Ced }), "Select Item", new { @class = "form-control" })
        <p></p>
        <input type="submit" value="Assign" />
    }
</div>