@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To NuCloud</h3>
</div>


<html>
<head>
    <style>
        h5 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>

    <h5>What is NuCloud?</h5>
    <h6>
        The need for automated information revolves around a social
        movement that members join / associate with. The application offers the possibility of managing the
        general data of the movement in a parameterized way. In any of the countries the same organizational
        structure is managed.
    </h6>
</body>
</html>
