@model NuCloudWeb.Controllers.Chanchito

@{
    ViewData["Title"] = "AddMember";
}

<div class="login-box">
    <div class="text-center user-box">
        @using (Html.BeginForm("AddMember", "Branch", FormMethod.Post))
        {
    @Html.DropDownListFor(m => m.Id, Model.Members.Select(x => new SelectListItem { Text = String.Format("{0} {1}", x.Name, x.LastName), Value = x.Ced }), "Select Item", new { @class = "form-control" })
                    <br /><br /> <input type="submit" value="Add" />}
    </div>
</div>